html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2d2727;
}

header {
    border: 10px solid black;
    border-radius: 20px;
    color: #955021;
    padding: 40px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 2px;
}

h2 {
    font-weight: bolder;
    text-decoration: dashed;
    justify-content: center;
}

.score {
    border: 3px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #955021;
    color: #fff;
    padding: 15px;
    margin: 25px;
}

#gameResult {
    display: flex;
    font-weight: bold;
}

.roundBox {
    padding: 10px;
    margin: 20px;
    color: #955021;
    border: 2px solid black;
    border-radius: 10px;
}

#startButton {
    border: 1px solid #955021;
    border-radius: 20px;
    margin: 10px;
    width: 140px;
}

button {
    cursor: pointer;
}

.choiceButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    padding: 20px;
    margin: 20px;
}

#rockImg {
    width: 80px;
}

.rockButton {
    background-color: #955021;
    box-shadow: 5px 5px 5px black;
}

#paperImg {
    width: 80px;
}

.paperButton {
    background-color: #955021;
    box-shadow: 5px 5px 5px black;
}

#scissorsImg {
    width: 80px;
}

.scissorsButton {
    background-color: #955021;
    box-shadow: 5px 5px 5px black;
}
